nav {
  background-color: #424141;
  display: inline-block;
  width: 100%;
}
nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
nav ul li {
  float: left;
  background-color: #424141;
}
nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  line-height: 60px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  background-color: #000;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}
nav ul li:hover > ul {
  display: block;
}
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -50px;
  left: 170px;
}
nav ul ul ul ul li {
  position: relative;
  top: -50px;
  left: 170px;
}
